/* ########################################################################### */
/* Elements */
body{
    background-color: #E2E2E2;
    font-family: "Open Sans",sans-serif;
    color: #2c3e50;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

/* ########################################################################### */
/* Div */
#haut {
    background-color: white;
    width: 100%;
    height: 130px;
    padding-top: 1px;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#option {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    -webkit-box-shadow: 0 0 5px #666;
    -o-box-shadow: 0 0 5px #666;
    -ms-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

#option select {
    width: 200px;
    height: 30px;
    font-size: 15px;
    color: #2c3e50;
}

#option select:hover {
    cursor: pointer;
}

#option button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid white;
}

#option button:hover {
    cursor: pointer;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    color: #2c3e50;
    font-weight: bold;
}

/* ########################################################################### */
/* Flipbook */
#flipbook {
    position:relative;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 100%;
}

#flipbook .page{
    box-sizing: border-box;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page .innerpage {
    box-sizing: border-box;
    margin : 5px;
    line-height:300px;
    color: black;
    font-size:20px;
    text-align:center;
    height: 100%;
    margin-bottom: 12px;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}