/* ########################################################################### */
/* Elements */
body{
    background-color: #eeeeee;
    margin: 0;
    color: #2c3e50;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

select {
    font-size: 15px;
    width: 180px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

select:hover {
    cursor: pointer;
}

button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#haut {
    background-color: white;
    width: 100%;
    height: 130px;
    padding-top: 1px;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#option {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    -webkit-box-shadow: 0 0 5px #666;
    -o-box-shadow: 0 0 5px #666;
    -ms-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

#container {
    width: 100%;
}

#leMenu {
    float: left;
    width: 75%;
}

#lesExemples {
    background-color: white;
    overflow: hidden;
    padding: 10px;
    margin-top: 50px;
    width: 300px;
    border-radius: 4px;
    border: 3px solid #2c3e50;
    -webkit-box-shadow: 0 0 5px #666;
    -o-box-shadow: 0 0 5px #666;
    -ms-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#img9 {
    cursor: pointer;
    padding-left: 3px;
    width: 97px;
}

/* ########################################################################### */
/* Flipbook */
#flipbook {
    margin-left: auto;
    margin-right: auto;
}

#flipbook .page {
    box-sizing: border-box;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page .innerpage, .outerpage {
    box-sizing: border-box;
    line-height:300px;
    color: black;
    font-size:20px;
    text-align:center;
    height: 100%;
}

.outerpage {
    padding: 15px;
}

#flipbook .hard .pageDeCouv, #flipbook .hard .pageDeDos {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

.fond_Blanc { background-color:#ffffff }
.fond_Marron { background-color:#333333 }
.fond_Noir { background-color:#000000 }
.fond_Gris { background-color:#aaaaaa }
.fond_Orange { background-color: #ff9900 }
.fond_Rouge { background-color: #cc0033 }
.fond_Creme { background-color: #cc9966 }

.bordure_Blanc  { border : 27px solid #FFFFFF }
.bordure_Vert_fonce { border : 27px solid #006633 }
.bordure_Vert_anis { border : 27px solid #cccc00 }
.bordure_Bleu_gris { border : 27px solid #006666 }
.bordure_Bleu_fonce { border : 27px solid #003399 }
.bordure_Bleu_clair { border : 27px solid #66ccff }
.bordure_Jaune {  border : 27px solid #ffcc00 }
.bordure_Orange { border : 27px solid #ff9900 }
.bordure_Rouge { border : 27px solid #cc0033 }
.bordure_Bordeaux { border : 27px solid #993333 }
.bordure_Violet { border : 27px solid #663366 }
.bordure_Creme { border : 27px solid #cc9966 }
.bordure_Marron { border : 27px solid #333333 }
.bordure_Noir { border : 27px solid black }
.bordure_Gris { border : 27px solid #999999 }
.bordure_Rose { border : 27px solid #cc3366 }
